* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 78% */
html {
    font-size: 62.5%;
}

body {
    background-color: #F6FAFD;
}

body nav {
    display: grid;
    width: 78%;
    margin: 0 auto;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo nav button";
}

nav span {
    display: inline-flex;
    align-items: center;
    grid-area: logo;
    
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    grid-area: nav;
}

nav li {
    margin: 0 2px;
}

nav button {
    display: inline-flex;
    align-items: center;
    height: 30px;
    width: 120px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 500;
    grid-area: button;
}

nav button span {
    display: inline-flex;
}